@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom thin scrollBar class */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 100vh;
}

/* base logo css from vite */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* css overide for carousel on news page */
/* .carousel .control-arrow {
  background: rgba(0, 0, 0, 0.3);
  color: #dc5263;
  width: 40px;
  top: 50%;
  margin-top: -20px;
}

.carousel .control-arrow:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #dc5263;
}

.carousel .control-prev::before,
.carousel .control-next::before {
  font-size: 20px;
} */
